body {
	font-family: 'Courier New';
	font-size: 13px;
	margin: 0;
	padding: 0;
}

#container {
	width: 800px;
	margin: 0 auto;
}

#contact {
	font-size: 16px;
	text-align: center;
}
#footer #contact {
	font-size: 13px;
}

#logo {
	width: 289px;
	height: 289px;
	display: block;
	margin: 0 auto;
}

#footer {
    margin-top: 3em;
}

.price-list td.price {
    padding-right: 15px;
}